@model IEnumerable<dotnetapp.Models.Dealer>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dealer Name</th>
                <th>Registration Date</th>
                <th>AutoPart Name</th>
                <th>Manufacturer</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dealer dealer in Model)
            {
                <tr>
                    <td>@dealer.ID</td>
                    <td>@dealer.Name</td>
                     <td>@dealer.RegistrationDate.Date.ToString("dd-MM-yyyy")</td>
                      <td>@dealer.AutoPartName</td>
                       <td>@dealer.Manufacturer</td>
                        <td>@dealer.MobileNumber</td>
                         <td>@dealer.Email</td>
                          <td>@dealer.Description</td>
                    <td>
                        <form asp-action="Edit" asp-route-id="@dealer.ID" method="get">
                            <button id="edit" type="submit" class="btn btn-secondary">EDIT</button>
                        </form>
                          </td>
                          <td>
                        <form asp-action="Delete" asp-route-id="@dealer.ID" method="post">
                            <button  id="delete" type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Dealers found.</p>
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">